[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  text-align: center;
  margin-bottom: 0;
}
h4 {
  position: relative;
}
.legend{
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 20px;
}
.legend-high::after {
  content: '';
  display: inline-block;
  position: absolute;
  margin-left: 10px;
  width: 16px;
  height: 16px;
  background-color: #dc3545;
}
.legend-low {
  padding-left: 40px;
}
.legend-low::after {
  content: '';
  display: inline-block;
  position: absolute;
  margin-left: 10px;
  width: 16px;
  height: 16px;
  background-color: #a4cd39;
}
.grid {
  margin: 0;
}
.col-1-4 {
  width: 25%;
}
.module {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background-color: #a4cd39;
  border-radius: 8px;
}
.status-high{
  background-color: #dc3545;
}
.module:hover {
  background-color: #eee;
  cursor: pointer;
  color: #607d8b;
}
.grid-pad {
  padding: 10px 0;
}
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
  .col-1-4 {
    width: 100%;
  }
  [class*='col-'] {
    float: none;
  }
}