<h2><a routerLink="/dashboard">Main</a> > Create a new case</h2>
<form [formGroup]="createCaseForm" (ngSubmit)="onSubmit(createCaseForm.value)">
    <div class="col-1-4">
        <label for="name">
            Name
        </label>
        <input id="name" type="text" formControlName="name">
    </div>

    <div class="col-1-4">
        <label for="age">
            Age
        </label>
        <input id="age" type="text" formControlName="age">
    </div>
    <div class="col-1-4">
        <label for="gender">
            Gender
        </label>
        <select formControlName="gender">
            <option [ngValue]="null" disabled>Choose the gender</option>
            <option *ngFor="let gender of genders" [ngValue]="gender">
                {{ gender }}
            </option>
        </select>
    </div>
    <div class="col-1-4">
        <label for="status">
            Status
        </label>
        <select formControlName="status">
            <option [ngValue]="null" disabled>Choose the status</option>
            <option *ngFor="let status of statuses" [ngValue]="status">
                {{ status }}
            </option>
        </select>
    </div>
    <div class="col-1-4">
        <label for="district">
            District
        </label>
        <select formControlName="district">
            <option [ngValue]="null" disabled>Choose the district</option>
            <option *ngFor="let district of districts" [ngValue]="district">
                {{ district }}
            </option>
        </select>
    </div>
    <div class="col-1-4">
        <label for="address">
            Address
        </label>
        <input id="address" type="text" formControlName="address">
    </div>
    <div class="col-1-1">
        <button class="button" type="submit">Create</button>
    </div>
</form>
<div class="col-1-1">
    <label class="message">
        {{ message }}
    </label>
</div>