h2 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}
.col-1-4 {
    width: 21%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
}
.col-1-1 {
    width: 100%;
}
button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #669999;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 20px;
}
[class*='col-'] {
    float: left;
    padding-right: 20px;
    padding: 20px;
}
.data-field {
    margin-top: 10px;
}
label {
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #666;
    line-height: 22px;
}
.detailed-info {
    margin-top: 50px;
}
.attr-name{
    font-weight: 600;
}
.status-field{
    font-weight: 600;
}
.status-Unknown{
    color: #3f525c;
}
.status-Suspected{
    color: #f3a207;
}
.status-Confirmed{
    color: #dc3545;
}
.status-Recovered{
    color: #a4cd39;
}
.status-Deceased{
    color: #000;
}
@media (max-width: 1024px) {
    .grid {
      margin: 0;
    }
    .col-1-4 {
      width: 85%;
    }
    [class*='col-'] {
      float: none;
    }
}