h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    text-align: center;
}
a {
    text-decoration: none;
}
a:visited {
    color: #369;
}
.offline-banner {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: #dc3545;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
}